body {
    margin: auto;
    width: 700px;
    text-align: center;
    background-color: azure;
    background-image: url('Microphone.png');
    background-repeat: no-repeat;
    font-family: 'Buxton Sketch';
}

h1 {
    font-family: 'Buxton Sketch';
    color: #191921;
    font-size: 3em;
}

#main p {
    font-size: 1.5em;
}

#followArtist {
    float: left;
    width: 50%;
    padding-bottom: 50px;
}

#followArtist h2 {
    color: #191921;
    font-size: 2em;
    text-align: left;
    padding: 0 0 0 40px;
    margin: 0;
}

#followArtist p {
    font-size: 1em;
    color: burlywood;
    text-align: left;
    padding: 0 0 0 40px;
    margin: 0;
}

#followGenre {
    float: right;
    width: 50%;
}

#followGenre table {
    width: 100%;
}

#followGenre h2 {
    margin: 0;
    text-align: right;
}

#search {
    clear: both;
}

#ArtistGrid, #GenreGrid, #VenueGrid {
    margin: auto;
    padding: 50px;
}

.intro {
    font-size: 2em;
    font-family: 'Buxton Sketch';
    font-weight: 600;
}

.textbox {
    border: 3px outset blueviolet; 
    outline:0; 
    height:25px; 
    width: 275px; 
}

td {
    font-family: 'Buxton Sketch';
    font-size: 1.3em;
}

#footer {
    height: 50px;
    margin-top: 30px;
    vertical-align: bottom;
}

#footer a {
    margin-top: 30px;
}

#lbFollow {
    font-size: 1.4em;
}

.button {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px 0 20px 20px;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

#tblArtist {
    margin-bottom: 50px;
}