body {
    margin: auto;
    padding: auto;
    width: 700px;
    text-align: center;
    background-color: lightgray;
    font-family: 'Buxton Sketch';
}

h1 {
    font-family: 'Buxton Sketch';
    color: blueviolet;
    font-size: 3em;
}

#form1 p {
    font-size: 2em;
    font-family: 'Buxton Sketch';
    font-weight: 600;
}

.intro {
    font-size: 2em;
    font-family: 'Buxton Sketch';
    font-weight: 600;
}

.textbox {
    border: 3px outset blueviolet; 
    outline:0; 
    height:25px; 
    width: 275px; 
}

td {
    font-family: 'Buxton Sketch';
    font-size: 1.3em;
}

.button {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px 0 20px 20px;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

#tblArtist {
    margin-bottom: 50px;
}